@media (max-width: 1200px)
  .hero
    &-info
      margin-right: 20px

  .button
    &-outline
      margin-right: 5px 

  .goods
    &__container
      flex-wrap: wrap

  .recommendation
    justify-content: space-around
    width: 100%
    margin: 0
    margin-bottom: 50px
    &__btn
      margin: 0
  
  .good
    height: 100%
    &:nth-child(2n+2)
      margin-right: 0
    &:nth-child(6),
    &:nth-child(7)
      margin-bottom: 32px
    &-image
      width: 120px
      max-height: 200px
    &-info
      &__title
        margin-bottom: 12px
        font-size: 20px
      &__author
        margin-bottom: 16px
        font-size: 14px
      &__price
        margin-bottom: 20px
        font-size: 16px

  .best
    width: 100%
    &-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      padding-right: 11px
      padding-left: 11px
    &-good
      flex-direction: column
      align-items: center
      max-width: 213px
      padding: 0
    &-image
      margin: 0
      width: 96px
      height: 146px
      margin-bottom: 15px
    &-info
      flex-direction: column
      align-items: center
      padding: 0
      &__title
        font-size: 16px
        line-height: 24px
        text-align: center
    &__line
      width: 100%
    &__link
      margin: 0 auto

  .categories
    &-slider
      &__btn
        top: 108%
        &--prev
          transform: translate(-38%, 0)
          left: 38%
        &--next
          transform: translate(38%, 0)
          right: 38%

  .story
    &__text
      margin-right: 0
    &-content
      &__item
        max-width: 270px
  .partners
    &-list
      &__item
        width: 226px

  .blog
    &__container
      justify-content: space-around
    &-main
      max-width: 450px
    &-item
      width: 500px
      justify-content: space-around
      &__img
        max-width: 220px
       
  .newsletter
    &-wrapper
      padding-right: 50px
      padding-left: 50px
    &__title
      font-size: 32px
    &__input
      width: 430px

  .footer
    &__container
      justify-content: space-around
    &-info
      margin-right: 0
      &__slogan
        max-width: 240px
    &__list
      margin-right: 0

@media (max-width: 992px)
  .hero
    &__container
      padding-top: 75px
    &-info
      &__title
        font-size: 38px
      &__author
        font-size: 18px
      &__description
        font-size: 16px
    &-image
      padding: 90px 50px
    
  .button
    &-outline
      max-width: 211px
      padding: 17px 20px 15px 20px
      margin-bottom: 15px
    &-primary
      max-width: 235px
      padding: 15px 22px

  .good
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
    width: 280px
    max-height: 312px
    height: 100%
    margin-top: 40px
    margin-bottom: 45px
    padding: 0
    padding-bottom: 32px
    &-image
      margin: 0
      margin-top: -25px
      margin-bottom: 13px
      width: 96px
      max-height: 145px
      clip-path: inset(2px 0 round 8px)
      &__book
        position: static
    &-info
      padding: 0
      max-width: 100%
      flex-direction: column
      align-items: center
      &__title
        margin-bottom: 12px
        font-size: 20px
      &__author
        margin-bottom: 12px
        font-size: 14px
      &__category
        margin-bottom: 12px
      &__price
        margin-bottom: 12px
        font-size: 16px

  .story
    &__title
      font-size: 38px
    &__text
      font-size: 16px
    &-content
      &__item
        max-width: 180px
        flex-direction: column
        align-items: center
        &-info
          align-items: center
        &-title
          font-size: 20px
        &-text
          margin-bottom: 16px
          font-size: 14px
  .partners
    &-list
      &__item
        width: 238px
        &:nth-child(1n+10)
          display: none

  .blog
    &__container
      flex-direction: column
    &__title
      margin: 0 auto
      margin-bottom: 48px
    &__btn
      order: 5
      margin: 0 auto
    &-main
      max-width: 100%
      margin-bottom: 30px
    &-wrapper
      width: 100%
    &-item
      justify-content: start
      width: 100%
      &:last-child
        margin-bottom: 40px
      &__img
        max-width: 450px
        margin-right: 30px

  .newsletter
    &-wrapper
      flex-direction: column
    &__title
      max-width: 430px
      margin-bottom: 32px
    &__form
      margin-top: 0
          
  .footer
    &__title
      font-size: 16px
    &__item
      font-size: 14px

@media (max-width: 768px)
  .container
    padding-right: 0
    padding-left: 0
    max-width: 576px
    width: 92%

  body
    padding-top: 64px

  .header
    &--mobile-fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 99
    &__container
      padding: 18px 5px 18px
    &__btn
      display: none
      &--mobile
        &-visible
          display: inline-block
          margin: 0

  .nav
    position: fixed
    top: 64px
    right: 0
    bottom: 0
    left: 0
    transform: translateX(200%)
    padding-top: 50px
    background-color: $dark-color
    transition: 0.3s  
    &-list
      flex-direction: column
      align-items: center
      &__item
        &:not(:last-child)
          margin: 0
          margin-bottom: 30px
        &--desktop
          &-hidden
            display: list-item
      &__link
        color: $light-color
    &--visible
      transform: translateX(0%)
      overflow-y: auto
      transition: 0.3s 

  .menu-burger
    display: flex
    width: 36px
    height: 21px
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: $light-color
    cursor: pointer
    &__line
      width: 22px
      height: 3px
      background-color: #3A4C66
      border-radius: 8px

  .hero
    &__container
      flex-direction: column
      align-items: center
    &-info
      flex-direction: column
      align-items: center
      margin: 0
      padding: 0
      &__title
        font-size: 48px
        text-align: center
      &__author
        font-size: 20px
      &__description
        font-size: 18px
        text-align: center
        margin-bottom: 17px
    &-buttons
      margin-bottom: 36px
    &-image
      width: 100%
      padding: 59px 68px
      &__book
        margin: 0 auto

  .goods
    &__container
      padding-top: 56px
    &__title
      text-align: center
      
  .best
    &-good
      flex-basis: 100%

  .categories
    &-slider
      &__btn
        top: 103%

  .story
    &__title
      flex-basis: 100%
      margin-bottom: 24px
      text-align: center
    &__text
      margin: 0 auto
      margin-bottom: 33px
      flex-basis: 100%
      text-align: center
    &-content
      &__main
        &-play
          width: 56px
          height: 56px
        &-icon
          transform: scale(0.6, 0.6)
      &__item
        max-width: 170px
        &-icon
          transform: scale(0.6, 0.6)

  .partners
    &-list
      &__item
        width: 145px

  .blog
    &__title
      font-size: 38px
    &-main
      &__title
        font-size: 22px
      &__text
        font-size: 16px
    &-item
      &__img
        max-width: 280px
      &__date
        font-size: 12px
      &__title
        font-size: 18px

  .footer
    &-info
      order: 6
      flex-basis: 100%
      align-items: center
      justify-content: center
      margin-top: 42px
      &__logo
        margin-bottom: 14px
      &__slogan
        margin-bottom: 15px
        text-align: center
    &-bottom
      display: none

  &.modal
    &__dialog
      width: 70%
      padding: 15px 20px

@media (max-width: 576px)
  #subscribe-error
    bottom: 57px
  
  .goods
    &__title
      font-size: 28px
      line-height: 36px
  
  .recommendation
    margin-bottom: 56px
    &__btn
      flex-basis: auto
      padding: 14px 61px
      font-size: 16px
      line-height: 20px
      text-transform: none
      
  .good
    margin-bottom: 24px
    &--mobile
      &-hidden
        display: none
    &-image
      margin-top: -31px
    &-info
      &__title
        margin-bottom: 8px
      &__category
        margin-bottom: 13px
        font-size: 14px
      &__price
        margin-bottom: 18px
        text-align: center
    &-button
      padding: 7px 25px

  .best
    width: 100%
    &-wrapper
      display: block
      padding-right: 0
      padding-left: 15px
    &-good
      flex-direction: row
      align-items: start
      max-width: 276px
      margin: 0 auto
      padding: 0
      &:not(:nth-child(4)) 
        margin-bottom: 31px
      &:nth-child(4) 
        margin-bottom: 44px
    &-image
      margin: 0
      margin-right: 14px
    &-info
      flex-direction: row
      justify-content: start
      padding: 0
      padding-top: 13px
      &__title
        max-width: 129px
        margin-bottom: 13px
        letter-spacing: 0.2px
        text-align: left
      &__price
        margin-bottom: 13px
    &__line
      margin-bottom: 19px

  .categories
    &__container
      padding-top: 52px
    &-slider
      &__slide
        padding: 20px 0 20px
      &__img
        width: 36px
        height: 36px
        margin-bottom: 16px
      &__title
        margin-bottom: 10px
        font-size: 16px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 20px
      &__btn
        width: 48px
        height: 48px

  .books
    &__title
      margin-bottom: 41px
      font-size: 28px
      line-height: 36px
      text-align: center
    &-slider
      padding-top: 48px
      padding-bottom: 136px
      &__btn
        top: 465px
        width: 48px
        height: 48px
        &--prev
          transform: translate(-37%, 0)
          left: 37%
        &--next
          transform: translate(37%, 0)
          right: 37%

  .story
    &-content
      &__item
        max-width: 138px
        &-video
          margin-bottom: 16px
        &-title
          margin-bottom: 6px
          font-weight: 500
          font-size: 16px
          line-height: 20px
        &-text
          font-size: 12px
          line-height: 20px

  .partners
    &__container
      padding-top: 36px
      
  .blog
    &__title
      font-size: 38px
    &-main
      &__title
        font-size: 22px
      &__text
        font-size: 16px
    &-item
      &__img
        max-width: 210px
      &__date
        font-size: 12px
      &__title
        font-size: 16px
      &__link
        font-size: 14px

  .newsletter
    &__container
      padding-bottom: 47px
    &-wrapper
      align-items: stretch
    &__form
      height: 112px
      background-color: $light-color
    &__input
      height: 56px
      padding-right: 11px
      padding-left: 48px
      align-items: start
    &__btn
      top: 83%
      right: 11px
      transform: translateY(-83%)
      width: 92%
      padding-top: 10px
      padding-bottom: 10px
    &__icon
      top: 23px
      left: 20px
      transform: none

  .footer
    &__container
      padding: 0 11px 47px
      justify-content: space-between
    &__list
      flex-basis: 47%
    &__product,
    &__service
      margin-bottom: 39px
    &__title
      margin-bottom: 17px
    &__item
      &:not(:last-child)
        margin-bottom: 13px
    
  .back__title
    flex-basis: 90%

@media ( min-width: 320px )  and ( max-width: 480px )
  .hero
    &__container
      padding-top: 36px
    &-info
      &__title
        margin-bottom: 24px
        font-size: 32px
        line-height: 40px
        letter-spacing: 0.2px
      &__author
        margin-bottom: 32px
        font-size: 16px
        letter-spacing: 0.2px
      &__description
        width: 280px
        font-size: 16px
        line-height: 23px
    &-image
      padding: 59px 60px
      &__book
        width: 144px
        height: 215px
    &-buttons
      display: flex
      flex-direction: column
      align-items: center
  
  .button
    &-outline
      margin-right: 0
      margin-bottom: 15px
      padding: 7px 17px 7px 21px
    &-primary
      padding: 6px 27px
      font-size: 16px
  
  .categories
    &__container
      padding-bottom: 137px
    &-slider
      &__title
        max-width: 112px
        font-size: 14px
        &--mb-3
          margin-bottom: 30px
      &__text
        max-width: 99px
      &__btn
        top: 108%  
    &__line
      margin-bottom: 53px
      
  .story
    &__container
      padding-top: 44px
      padding-bottom: 36px
    &__title
      font-size: 28px
      line-height: 36px
    &__text
      font-size: 18px
      line-height: 25px
    &-content
      justify-content: space-between
      &__btn
        height: 20px
      &__icon
        transform: scale(0.7, 0.8)
      &__main
        max-width: 100%
        height: 210px
        margin-bottom: 20px
      &__item
        &-video
          height: 138px
        &--mobile-hidden
          display: none

  .partners
    &__container
      padding-bottom: 52px
    &__title
      max-width: 278px
      margin: 0 auto
      margin-bottom: 22px
    &-list
      padding: 0 15px
      &__item
        width: 130px
        margin-bottom: 21px
        &:nth-child(1n+5)
          margin-bottom: 0
        &:nth-child(1n+7)
          display: none

  .blog
    &__container
      padding-top: 56px
      padding-bottom: 47px
    &__btn
      padding: 11px 43px
    &__title
      font-size: 28px
      line-height: 36px
    &-main
      max-width: 95%
      margin: 0 auto
      margin-bottom: 27px
      &__img
        max-width: 280px
        max-height: 120px
        margin-bottom: 20px
      &__title
        margin-bottom: 11px
        padding-left: 0
        font-size: 16px
        line-height: 20px
      &__text
        padding-left: 0
        font-size: 12px
        line-height: 24px
    &-wrapper
      align-items: center
    &-item
      max-width: 95%
      &__img
        max-width: 90px
        height: 90px
        margin-right: 21px
      &__info
        justify-content: space-between
      &__date
        font-size: 10px
        line-height: 20px
      &__title
        font-size: 14px
        line-height: 20px
      &__link
        font-size: 10px
        line-height: 20px

  .newsletter
    background-color: $primary-color
    &__container
      padding-bottom: 0
    &-wrapper
      padding: 26px 11px 28px
      align-items: stretch
    &__title
      max-width: 190px
      font-size: 28px
      line-height: 36px
    &__input
      width: 272px

  .footer
    &__container
      padding: 47px 11px 47px

  .modal
    &__dialog
      width: 90%
    &__title
      font-size: 16px
    &__button
      padding: 11px 15px