@media (max-width: 1200px)
  .hero
    &-info
      margin-right: 20px

  .button
    &-outline
      margin-right: 5px 

  .goods
    &__container
      flex-wrap: wrap

  .recommendation
    justify-content: space-around
    width: 100%
    margin: 0
    margin-bottom: 50px
    &__btn
      margin: 0
  
  .good
    height: 100%
    &:nth-child(2n+2)
      margin-right: 0
    &:nth-child(6),
    &:nth-child(7)
      margin-bottom: 32px
    &-image
      width: 120px
      max-height: 200px
    &-info
      &__title
        margin-bottom: 12px
        font-size: 20px
      &__author
        margin-bottom: 16px
        font-size: 14px
      &__price
        margin-bottom: 20px
        font-size: 16px

  .best
    width: 100%
    &-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      padding-right: 11px
      padding-left: 11px
    &-good
      flex-direction: column
      align-items: center
      max-width: 213px
      padding: 0
    &-image
      margin: 0
      width: 96px
      height: 146px
      margin-bottom: 15px
    &-info
      flex-direction: column
      align-items: center
      padding: 0
      &__title
        font-size: 16px
        line-height: 24px
        text-align: center
    &__line
      width: 100%
    &__link
      margin: 0 auto

  .categories
    &-slider
      &__btn
        top: 120%
        &--prev
          transform: translate(-45%, 0)
          left: 45%
        &--next
          transform: translate(45%, 0)
          right: 45%
       
@media (max-width: 992px)
  .hero
    &__container
      padding-top: 75px
    &-info
      &__title
        font-size: 38px
      &__author
        font-size: 18px
      &__description
        font-size: 16px
    &-image
      padding: 90px 50px
    
  .button
    &-outline
      max-width: 211px
      padding: 17px 20px 15px 20px
      margin-bottom: 15px
    &-primary
      max-width: 235px
      padding: 15px 22px

  .good
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
    width: 280px
    max-height: 312px
    height: 100%
    margin-top: 40px
    margin-bottom: 45px
    padding: 0
    padding-bottom: 32px
    &-image
      margin: 0
      margin-top: -25px
      margin-bottom: 13px
      width: 96px
      max-height: 145px
      clip-path: inset(2px 0 round 8px)
      &__book
        position: static
    &-info
      padding: 0
      max-width: 100%
      flex-direction: column
      align-items: center
      &__title
        margin-bottom: 12px
        font-size: 20px
      &__author
        margin-bottom: 16px
        font-size: 14px
      &__price
        margin-bottom: 20px
        font-size: 16px
          
@media (max-width: 768px)
  .container
    padding-right: 0
    padding-left: 0
    max-width: 576px
    width: 92%

  body
    padding-top: 64px

  .header
    &--mobile-fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 99
    &__container
      padding: 18px 5px 18px
    &__btn
      display: none
      &--mobile
        &-visible
          display: inline-block
          margin: 0

  .nav
    position: fixed
    top: 64px
    right: 0
    bottom: 0
    left: 0
    transform: translateX(200%)
    padding-top: 50px
    background-color: $dark-color
    transition: 0.3s  
    &-list
      flex-direction: column
      align-items: center
      &__item
        &:not(:last-child)
          margin: 0
          margin-bottom: 30px
        &--desktop
          &-hidden
            display: list-item
      &__link
        color: $light-color
    &--visible
      transform: translateX(0%)
      overflow-y: auto
      transition: 0.3s 

  .menu-burger
    display: flex
    width: 36px
    height: 21px
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: $light-color
    cursor: pointer
    &__line
      width: 22px
      height: 3px
      background-color: #3A4C66
      border-radius: 8px

  .hero
    &__container
      flex-direction: column
      align-items: center
    &-info
      flex-direction: column
      align-items: center
      margin: 0
      padding: 0
      &__title
        font-size: 48px
        text-align: center
      &__author
        font-size: 20px
      &__description
        font-size: 18px
        text-align: center
        margin-bottom: 17px
    &-buttons
      margin-bottom: 36px
    &-image
      width: 100%
      padding: 59px 68px
      &__book
        margin: 0 auto

  .goods
    &__container
      padding-top: 56px
    &__title
      text-align: center
      
  .best
    &-good
      flex-basis: 100%

@media (max-width: 576px)
  .goods
    &__title
      font-size: 28px
      line-height: 36px
  
  .recommendation
    margin-bottom: 56px
    &__btn
      flex-basis: auto
      padding: 14px 61px
      font-size: 16px
      line-height: 20px
      text-transform: none
      
  .good
    margin-bottom: 24px
    &--mobile
      &-hidden
        display: none
    &-image
      margin-top: -31px
    &-info
      &__title
        margin-bottom: 8px
      &__category
        margin-bottom: 12px
        font-size: 14px
    &-button
      padding: 7px 25px

  .best
    width: 100%
    &-wrapper
      display: block
      padding-right: 0
      padding-left: 15px
    &-good
      flex-direction: row
      align-items: start
      max-width: 276px
      margin: 0 auto
      padding: 0
      &:not(:nth-child(4)) 
        margin-bottom: 31px
      &:nth-child(4) 
        margin-bottom: 44px
    &-image
      margin: 0
      margin-right: 14px
    &-info
      flex-direction: row
      justify-content: start
      padding: 0
      padding-top: 13px
      &__title
        max-width: 129px
        margin-bottom: 13px
        letter-spacing: 0.2px
        text-align: left
      &__price
        margin-bottom: 13px
    &__line
      margin-bottom: 19px

  .categories
    &__container
      padding-top: 52px
    &-slider
      &__slide
        padding: 20px 0 20px
      &__img
        width: 36px
        height: 36px
        margin-bottom: 16px
      &__title
        margin-bottom: 10px
        font-size: 16px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 20px
      &__btn
        width: 48px
        height: 48px

  .books
    &__title
      margin-bottom: 41px
      font-size: 28px
      line-height: 36px
      text-align: center
    &-slider
      padding-top: 48px
      padding-bottom: 136px
      &__btn
        top: 465px
        width: 48px
        height: 48px
        &--prev
          transform: translate(-37%, 0)
          left: 37%
        &--next
          transform: translate(37%, 0)
          right: 37%
        


@media ( min-width: 320px )  and ( max-width: 480px )
  .hero
    &__container
      padding-top: 36px
    &-info
      &__title
        margin-bottom: 24px
        font-size: 32px
        line-height: 40px
        letter-spacing: 0.2px
      &__author
        margin-bottom: 32px
        font-size: 16px
        letter-spacing: 0.2px
      &__description
        width: 280px
        font-size: 16px
        line-height: 23px
    &-image
      padding: 59px 60px
      &__book
        width: 144px
        height: 215px
    &-buttons
      display: flex
      flex-direction: column
      align-items: center
  
  .button
    &-outline
      margin-right: 0
      margin-bottom: 15px
      padding: 7px 17px 7px 21px
    &-primary
      padding: 6px 27px
      font-size: 16px
  
  .categories
    &__container
      padding-bottom: 137px
    &-slider
      &__title
        max-width: 112px
        font-size: 14px
        &--mb-3
          margin-bottom: 30px
      &__text
        max-width: 99px
      &__btn
        top: 108%
        &--prev
          transform: translate(-38%, 0)
          left: 38%
        &--next
          transform: translate(38%, 0)
          right: 38%
       
    &__line
      margin-bottom: 53px
      